.Rproj.user
.Rhistory
.RData
.Ruserdata
fmc_models/model samples_1 h fuel sticks.R
fmc_models/model samples_10 h fuel sticks.R
fmc_models/model samples_Cania.R
fmc_models/model samples_Coihue.R
fmc_models/model samples_Laura.R
fmc_models/model samples_Litter.R
fmc_models/model samples_Live fuel mixture.R
microclimate/model_vpd_samples.R
